/* The Kaltura Upload widget CSS */
.field-widget-entryid-kaltura-upload {
  position: relative;
  padding:10px;
  border: 1px solid #ddd;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  background: #cdcdcd;
  background-image: -moz-linear-gradient(top, #eee, #ccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eee),color-stop(1, #ccc));
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  cursor: default;
}

.kaltura-upload {
  height: 46px !important;
}

.field-widget-entryid-kaltura-upload .row, .row .field-widget-entryid-kaltura-upload .row {
  margin: 0;
}

.kaltura-upload object {
  z-index: 1;
  position: absolute;
  height: 66px;
  width: 100%;
  top: 0;
  left: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  background-color: transparent;
  color: transparent;
}

.kaltura-upload-button.button {
  width: 100%;
  height: 46px;
  margin: 0;
  -webkit-appearance: button;
  cursor: pointer;
  display: inline-block;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  padding-top: 0.8125em;
  padding-bottom: 0.75em;
  border-style: solid;
  border-width: 1px;
  font-family: inherit;
  font-weight: bold;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-align: center;
  padding-right: 1.5em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #2ba6cb;
  border-color: #2284a1;
  color: white;
}

.kaltura-upload-progress.progress {
  height: 46px;
  margin: 0;
  float: right;
  background-color: transparent;
  border: 1px solid #cccccc;
  padding: 0.125em;
  position: relative;
  width: 83.33333%;
  font-weight: bold;
  box-sizing: border-box;
}

.kaltura-upload-progress span.meter {
  width: 0px;
  background: #2ba6cb;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.kaltura-upload-text {
  color:#fff;
  font-size: 16px;
  height:30px;
  width: 100%;
  position: absolute;
  margin: 10px;
  z-index: 20;
}

a.kaltura-upload-remove {
  color: #a00;
  margin: 10px;
}

a.kaltura-upload-remove:hover {
  color: #c00;
}

.kaltura-upload-title {
  margin-left: 10px;
}

.kaltura-upload-image {
  display: inline-block;
  background-color: #ccc;
  padding: 5px;
}

.kaltura-upload-select-row {
  padding: 5px;
}

.kaltura-upload-select-plus {
  color:#0a0;
  margin: 5px;
}

a.kaltura-upload-select {
  position: absolute;
  margin: 0;
}

.columns.large-2.kaltura-upload-input {
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 16.66667%;
  float: left;
  box-sizing: border-box;
}
